--extra-index-url https://download.pytorch.org/whl/cpu

streamlit
langchain-core
langchain-classic
langchain-pinecone
langchain-groq
langchain-huggingface
sentence-transformers
torch==2.6.0
torchvision==0.21.0